/* Page Organization  */

html {
  scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: arial;
}


#section1 {
  background-color: white;
  min-height: 600px;
  margin-bottom: 20px;
}

#section2, #section3 {
  background-color: #ddd;
  margin-bottom: 100px;
}

#section4 {
  background-color: #ddd;
  margin-top: 200px;
  margin-bottom: 500px;
  padding: 50px;
}


/* Top Section  */


.row {
    display: flex;
    flex-wrap:  wrap;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
}


.card {
    flex: 1 1 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-right: 50px;
  }

.cardRight {
    flex: 1 1 70%;
    text-align: center;
    display: flex;
    flex-wrap:  wrap;
}

.cardRightTop {
    flex: 1 1 100%;
    margin-top: 30px;
    margin-bottom: 250px;
}

.cardRightBot1 {
  flex: 1 1 40%;
}

.cardRightBot2 {
  flex: 1 1 25%;
}


.profileButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(17, 79, 116);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .btn {
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-color: rgb(17, 79, 116);
    color: rgb(17, 79, 116);

  }
  

  .btn:hover {
    background-color: rgb(17, 79, 116);
    color: white;
  }
  
/* Slideshow section  */

.sectionTitle {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}


  /* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides, .mySlides2 {
  display: none;
  padding: 60px;
  min-height: 180px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot, .dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* For the education / experience collapsibles */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
