  #top {
  width: 100%; 
  height: 70px;
  text-align: center;
  background-color: #3399ff;
  color: white;
  padding: 10px;
} 
 .nav {
  width: 100%; 
  height: 50px;
  text-align: center;
  background-color: #b3d9ff;
  color: white;
  display: flex; 
  justify-content: center;
 }
 .nav a {
  width: 100px;
  color: white;
  padding-top: 10px;
  margin-right: 20px;
 }
 
 .nav a.active {
  background-color: #cce6ff;
  height: 100%;
 }
 
 .nav a:hover:not(.active) {
   text-decoration: underline; 
 }
 
 .main {
  max-width: 1000px;
  margin: 0 auto;
 }
  
 #newSection {
  padding: 10px;
 }
  
 .main a {
  color: rgb(0, 51, 153)
 }  
  
 .circle {
  width: 10;
  height: 10px;
  background: #3399ff;
  border-radius: 50%
}

